<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1> <%= listTittle %> </h1>
    </div>

    <div class="box">
        <% for (var i=0; i<=newListItems.length; i++){ %>

        <div class="item">
            
            <input type="checkbox">
            <p> <%= newListItems[i] %> </p>
            
        </div>
        
       <% } %>

        <form action="/" method="post" class="item">
            <input type="text" name="newitem" placeholder="New Item" autocomplete="off" onsubmit="return validateForm()">
            <input class="button" type="submit" value="+" />
        </form>

    </div>
        
</body>
</html>